.d4 .column-label {
    text-anchor: middle;
}

.d4 .zeroLine line {
    stroke: black;
    stroke-width:2px;
    stroke-linecap: round;
}

#custom_css .d4 .bar.negative.fill {
    fill: darkred;
}
#custom_css .d4 .bar.positive.fill {
    fill: steelblue;
}

#stacked_column .d4 .series0 .bar.fill, #stacked_column .average {
    fill: steelblue;
    background-color: steelblue;
}
#stacked_column .d4 .series1 .bar.fill, #stacked_column .gina {
    fill: bisque;
    background-color: bisque;
}
#stacked_column .d4 .series2 .bar.fill, #stacked_column .bob {
    fill: darkslategrey;
    background-color: darkslategrey;
}