.d4 .column-label {
    text-anchor: middle;
}

.d4 .zeroLine line {
    stroke: black;
    stroke-width:2px;
    stroke-linecap: round;
}

#custom_css .d4 .bar.negative.fill {
    fill: darkred;
}
#custom_css .d4 .bar.positive.fill {
    fill: steelblue;
}