---
title: Horizontal Waterfall Chart
categories:
  - Waterfall Chart
---

<h5>{{title}}</h5>
<p>
  This waterfall chart is an example of the ability of some d4 chart to change
  orientation between horizontal and vertical. We do this by supplying an
  <code>orientation</code> accessor. This example also demonstrates  one of the
  various data parsers available to developers using d4. In this  example, we
  use the <code>waterfall</code> parser which makes it trivial for the developer
  to prepare the incoming data in a way that the chart expects it.
</p>
<p>
  This example also mixes in a zero line to visually demarcate where the series
  elements dip below zero. This is especially helpful in charts like the
  waterfall, which are often used for financial analysis.
</p>
<hr/>
<script type="text/javascript" charset="utf-8">
'use strict';

$(document).ready(function(){
  var data = [{
    'category': 'Job',
    'value': 27
  }, {
    'category': 'Groceries',
    'value': -3
  }, {
    'category': 'Allowance',
    'value': 22
  }, {
    'category': 'Subtotal',
    'value': 'e'
  }, {
    'category': 'Videos',
    'value': -22
  }, {
    'category': 'Coffee',
    'value': -40
  }, {
    'category': 'Total',
    'value': 'e'
  }];
  var parsedData = d4.parsers.waterfall()
    .x(function() {
      return 'value';
    })
    .y(function() {
      return 'category';
    })
    .nestKey(function() {
      return 'category';
    })(data);

  var chart = d4.waterfallChart()
    .width($('#example').width())
    .margin({
      top: 20,
      right: 20,
      bottom: 20,
      left: 100
    })
    .orientation(function() {
      return 'horizontal';
    })
    .xKey(function() {
      return 'value';
    })
    .yKey(function() {
      return 'category';
    })
    .valueKey(function() {
      return 'value';
    })
    .mixin({
      'zeroLine': d4.features.referenceLine
    }, 0)
    .using('zeroLine', function(zero) {
      zero
        .x1(function() {
          return this.x(0);
        })
        .x2(function() {
          return this.x(0);
        })
        .y1(function() {
          return this.y(0);
        })
        .y2(function() {
          return this.height - this.margin.top - this.margin.bottom;
        });
    });

  d3.select('#example')
    .datum(parsedData.data)
    .call(chart);

});

</script>
<div id="waterfall">
  <div id="example"></div>
</div>

<h6>CSS Code</h6>
<pre><code class="language-css">
  #waterfall  .d4 .bar.negative.fill {
      fill: darkred;
  }
  #waterfall .d4 .bar.positive.fill {
      fill: steelblue;
  }
  #waterfall .d4 .bar.subtotal.fill {
      fill: lightblue;
  }
</code></pre>
<h6>JavaScript Code</h6>
<pre><code id="code" class="language-javascript">
  var data = [{
    'category': 'Job',
    'value': 27
  }, {
    'category': 'Groceries',
    'value': -3
  }, {
    'category': 'Allowance',
    'value': 22
  }, {
    'category': 'Subtotal',
    'value': 'e'
  }, {
    'category': 'Videos',
    'value': -22
  }, {
    'category': 'Coffee',
    'value': -40
  }, {
    'category': 'Total',
    'value': 'e'
  }];
  var parsedData = d4.parsers.waterfall()
    .x(function() {
      return 'value';
    })
    .y(function() {
      return 'category';
    })
    .nestKey(function() {
      return 'category';
    })(data);

  var chart = d4.waterfallChart()
    .width($('#example').width())
    .margin({
      top: 20,
      right: 20,
      bottom: 20,
      left: 100
    })
    .orientation(function() {
      return 'horizontal';
    })
    .xKey(function() {
      return 'value';
    })
    .yKey(function() {
      return 'category';
    })
    .valueKey(function() {
      return 'value';
    })
    .mixin({
      'zeroLine': d4.features.referenceLine
    }, 0)
    .using('zeroLine', function(zero) {
      zero
        .x1(function() {
          return this.x(0);
        })
        .x2(function() {
          return this.x(0);
        })
        .y1(function() {
          return this.y(0);
        })
        .y2(function() {
          return this.height - this.margin.top - this.margin.bottom;
        });
    });

  d3.select('#example')
    .datum(parsedData.data)
    .call(chart);
</code></pre>
