---
title: Arrow Feature
features:
  - Arrows
---

<h5>{{title}}</h5>
<p>
  Occasionally a chart requires a way to draw visual attention to a
  specific element. For this reason d4 has a way to draw arrows to point to an object.
</p>
<p>
  The following section demonstrates a few ways to interact with d4's axis feature
</p>
<hr/>
<script type="text/javascript" charset="utf-8" id='source_code'>
'use strict';

$(document).ready(function(){
  var data = [
      { year: '2010', unitsSold:100, salesman : 'Bob' },
      { year: '2011', unitsSold:200, salesman : 'Bob' },
      { year: '2012', unitsSold:300, salesman : 'Bob' },
      { year: '2013', unitsSold:400, salesman : 'Bob' },
      { year: '2014', unitsSold:500, salesman : 'Bob' },
      { year: '2010', unitsSold:100, salesman : 'Gina' },
      { year: '2011', unitsSold:100, salesman : 'Gina' },
      { year: '2012', unitsSold:-100, salesman : 'Gina' },
      { year: '2013', unitsSold:500, salesman : 'Gina' },
      { year: '2014', unitsSold:600, salesman : 'Gina' },
      { year: '2010', unitsSold:400, salesman : 'Average' },
      { year: '2011', unitsSold:0, salesman : 'Average' },
      { year: '2012', unitsSold:400, salesman : 'Average' },
      { year: '2013', unitsSold:400, salesman : 'Average' },
      { year: '2014', unitsSold:400, salesman : 'Average' }
    ];

  var parsedData = d4.parsers.nestedGroup()
    .x('year')
    .y('unitsSold')
    .value('unitsSold')(data);

  var chart = d4.charts.groupedColumn()
  .margin({
    left: 20,
    top: 50,
    bottom: 20,
    right: 80
  })
  .width($('#example').width())
  .x(function(x){
    x.key('year');
  })
  .y(function(y){
    y.key('unitsSold')
    .max(800);
  })
  .mixin({'arrow' : d4.features.arrow })
  .using('arrow', function(arrow){
    arrow
    .tipSize(5)
    .x1(100)
    .x2(286)
    .y1(100)
    .y2(293);
  })
  .groupsOf(parsedData.data[0].values.length);

  d3.select('#example')
  .datum(parsedData.data)
  .call(chart);
});

</script>
<div id="arrow">
  <div id="example"></div>
</div>

<h6>JavaScript Code</h6>
<pre><code id="code" class="language-javascript"></code></pre>
<h6>CSS</h6>
<pre><code id="code" class="language-css">
  #arrow marker path {
      fill: darkred;
      stroke: darkred;
  }
  #arrow .arrow line {
      stroke: darkred;
      stroke-width: 5px;
  }
</code></pre>