---
title: Basic Donut Chart
charts:
  - Donut Chart
---

<h5>{{title}}</h5>
<p>
  The arc series chart is used to compare a series of data elements arranged
  along a centroid. This example also uses the pie layout to prepare the data
  for this chart.
</p>
<hr/>
<script type="text/javascript" charset="utf-8" id='source_code'>
'use strict';

$(document).ready(function() {

  var generateData = function() {
    var data = [];
    var names = ['Clay Hauck', 'Diego Hickle', 'Heloise Quitzon',
      'Hildegard Littel MD', 'Janiya Legros DDS', 'Karolann Boehm',
      'Lilyan Deckow IV', 'Lizeth Blick', 'Marlene O\'Kon', 'Marley Gutmann'
    ],
      pie = d3.layout.pie()
        .sort(null)
        .value(function(d) {
          return d.unitsSold;
        });
    d4.each(names, function(name) {
      data.push({
        unitsSold: Math.max(10, Math.random() * 100),
        salesman: name
      });
    });
    return pie(data);
  };

  var chart = d4.charts.donut()
    .outerWidth($('#pie').width())
    .margin({
      left: 0,
      top: 0,
      right: 0,
      bottom: 0
    })
    .radius(function(){
      return this.width/5;
    })
    .using('slices', function(slice) {
      slice.key(function(d) {
        return d.data.salesman;
      });
    });

  setInterval(function() {
    redraw();
  }, 4500);

  var redraw = function() {
    var data = generateData();
    d3.select('#pie')
      .datum(data)
      .call(chart);
  };
  redraw();
});


</script>
<div id="pie"></div>
<h6>JavaScript Code</h6>
<pre><code id="code" class="language-javascript"></code></pre>
