---
component: navbar
---
<div class="header clearfix">
    <div class="container">
      <div class="pull-left">
        <a href="/index.html"><img src="{{assets}}/images/d4-logo.png" width="30" height="30" class='nav-logo' alt="D4 Logo"></a>
      </div>
      <ul class="nav nav-pills">
          <li><a href="/index.html">Introduction</a></li>
          <li><a href="/getting_started.html">Getting Started</a></li>
          <li><a href="/docs.html">Documentation</a></li>
          <li><a href="/examples.html">Examples</a></li>
          <li><a href="https://github.com/heavysixer/d4">View on Github</a></li>
      </ul>
    </div>
</div>