---
component: navbar
---
<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a data-toggle="tab" href="#introduction">Introduction</a></li>
        <li><a data-toggle="tab" href="#getting_started">Getting Started</a></li>
        <li><a data-toggle="tab" href="#examples">Examples</a></li>
    </ul>
    <h3 class="text-muted">d4: Reusable d3 Charts</h3>
</div>