---
title: Home
h1: 'd4'
lead: d4 is a friendly charting DSL for d3
---
<div class="container">
  <div class="col-md-4 col-sm-4" style="text-align:center;">
    <img src="{{assets}}/images/d4-logo.png" width="150" height="150" alt="D4 Logo">
  </div>
  <div class="col-md-8 col-sm-8">
    <h3 class="tagline">{{lead}}</h3>
  </div>
</div>
<div class="row marketing">
    <div class="col-md-12">
      {{md './../README.md'}}
    </div>
</div>
