---
title: Basic Row Chart
categories:
  - Row Chart
---

<h5>{{title}}</h5>
<p>
  The following demonstrates the most basic example of the row chart. This
  chart uses the default settings from d4.
</p>
<hr/>
<script type="text/javascript" charset="utf-8">
'use strict';

$(document).ready(function(){
  var data = [
      { y: '2010', x:-10 },
      { y: '2011', x:20 },
      { y: '2012', x:30 },
      { y: '2013', x:40 },
      { y: '2014', x:50 },
    ];
  var chart = d4.charts.row();
  d3.select('#example')
  .datum(data)
  .call(chart);
});

</script>
<div id="example"></div>
<h6>JavaScript Code</h6>
<pre><code id="code" class="language-javascript">
  var data = [
      { y: '2010', x:-10 },
      { y: '2011', x:20 },
      { y: '2012', x:30 },
      { y: '2013', x:40 },
      { y: '2014', x:50 },
    ];
  var chart = d4.charts.row();
  d3.select('#example')
  .datum(data)
  .call(chart);
</code></pre>
