---
title: Custom CSS
categories:
  - Column Chart
  - Basic Concepts
---
<h5>{{title}}</h5>
<p>
  Many charting libraries make internal decisions on visual aesthetics, which may
  remove control from the designer, who may or may not understand JavaScript let
  alone the charting API. Choices on visual design like series colors and font
  sizes are best made in CSS. d4 exposes convenient hooks in the generated markup
  to allow visual designer to get precise control over the look and feel without
  needing deep knowledge of d4.
</p>
<p>
  In this example we want a column chart where negative and positive column series
  are colored differently. This is easily accomplished using CSS, because by default
  the d4 column series will append either <code class="language-css">.positive</code> or
  <code class="language-css">.negative</code> depending on the value of the series.
</p>
<hr/>
<script type="text/javascript" charset="utf-8">
'use strict';

$(document).ready(function(){
  var data = [
      { x: '2010', y:-50 },
      { x: '2011', y:50 },
      { x: '2012', y:30 },
      { x: '2013', y:20 },
      { x: '2014', y:10 },
    ];
  var chart = d4.charts.column()

  d3.select('#example')
  .datum(data)
  .call(chart);
});

</script>
<div id="custom_css">
  <div id="example"></div>
</div>
<h6>CSS Code</h6>
<pre><code class="language-css">
  /* Style for our positive or negative column series */
  .d4 .bar.negative.fill {
      fill: darkred;
  }
  .d4 .bar.positive.fill {
      fill: steelblue;
  }

</code></pre>

<h6>JavaScript Code</h6>
<pre><code id="code" class="language-javascript">
  var data = [
      { x: '2010', y:-50 },
      { x: '2011', y:50 },
      { x: '2012', y:30 },
      { x: '2013', y:20 },
      { x: '2014', y:10 },
    ];
  var chart = d4.charts.column()

  d3.select('#example')
  .datum(data)
  .call(chart);
</code></pre>
