---
title: Margins & Chart Size
concepts:
  - Basic Concepts
---
<h5>{{title}}</h5>
<p>
  d4 measures the height and width of a chart in two ways. Understanding how
  and when these measurements are applied will better help you understand how to
  properly size your chart.
</p>
<p>
  First d4 treats <code>height()</code> and <code>width()</code> as the chart
  area only, which means it excludes the margins. That means that when you set
  the height and width of a chart, the actual DOM element may be larger because
  it will include the margin too. Here is an example:
<hr/>
<script type="text/javascript" charset="utf-8" id='source_code'>
'use strict';

$(document).ready(function(){
  var $e = $('#outer');
  var $e2 = $('#inner');
  var config = {
    width: 300,
    height: 150,
    padding: 10,
    overflow: 'hidden',
    border :'1px solid #333'
  };
  $e.css(config);
  $e2.css(config);

  // Subtract 20 to account for our chart's margins
  var w = $e.outerWidth()/2;
  var h = $e.outerHeight()/2;

  var outer = d4.charts.column()
    .x(function(x) {
      x.scale('linear');
    })
    .mixout(['barLabels', 'xAxis', 'yAxis'])
    .margin({top: 10, left:10, right: 10, bottom:10});
  var inner = outer.clone();
  outer
    .outerHeight(h)
    .outerWidth(w);

  inner
    .height(h)
    .width(w);

  d3.select('#outer')
    .datum([{
      x: w,
      y: h
    }])
    .call(outer);

  d3.select('#inner')
    .datum([{
      x: w,
      y: h
    }])
    .call(inner);

  });

</script>
<div class='clearfix'>
  <h6>Setting outerHeight or outerWidth reduces the chart area relative to the margins</h6>
  <div id="outer"></div>
  <h6>Setting height or width applies to the chart area itself, which means margins are added to the final chart.</h6>
  <div id="inner"></div>
</div>
<h6>JavaScript Code</h6>
<pre><code id="code" class="language-javascript"></code></pre>
