---
title: Mixing in a new feature
concepts:
  - Basic Concepts
---
<h5>{{title}}</h5>
<p>
  When creating charts in d4 you have two paths you can take. You can either
  write your chart from scratch where you choose all the features you will need,
  or use a preexisting chart and mix-in features you want.
</p>
<p>
  In this example we want a reference line to run horizontally across the chart
  exactly where the zero line occurs. This is very useful in instances where
  you want to clearly delineate positive and negative series. Unfortunately,
  the column chart doesn't come with any reference line by default. This is no
  problem though, we'll just mix one in!
</p>
<p>
  d4's mixin function expects an object which consists of the following object
  structure:
  <pre><code class="language-javascript">
    myChart.mixin({

      // Unique name for the feature
      'name' : 'someName',

      // Pointer to the d4 feature to be mixed in
      'feature' : d4.features.someFeature

      // Optional index which specifies a specific layer to mix the feature into
      index: 0
    })
  </code></pre>
  <hr/>
</p>

<script type="text/javascript" charset="utf-8" id='source_code'>
'use strict';

$(document).ready(function(){
  var data = [
      { x: '2010', y:-50 },
      { x: '2011', y:50 },
      { x: '2012', y:30 },
      { x: '2013', y:20 },
      { x: '2014', y:10 },
    ];
  var chart = d4.charts.column();
  chart
  .mixin({
    'name' : 'zeroLine',
    'feature' : d4.features.referenceLine
  })
  .using('zeroLine', function(zeroLine){
    zeroLine
    // accessor attributes can be supplied as a variable
    .x1(0)
    // or a function
    .y1(function(){
      return this.y(0);
    })
    // note you could simply use `chart.width` here but I wanted to show you
    // that you can access the margin attributes in multiple ways.
    .x2(chart.outerWidth() - chart.marginLeft() - chart.margin().right)
    .y2(function(){
      return this.y(0);
    });
  });

  d3.select('#example')
  .datum(data)
  .call(chart);
});

</script>
<div id="example"></div>
<h6>CSS File</h6>
<pre><code class="language-css">
  /* Style for our reference line */
  .d4 .zeroLine line {
      stroke: black;
      stroke-width:2px;
      stroke-linecap: round;
  }
</code></pre>

<h6>JavaScript Code</h6>
<pre><code id="code" class="language-javascript"></code></pre>
{{> disqus }}
